<!DOCTYPE HTML>
<html ng-app="vida">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= @title %></title>
		<link rel="stylesheet" type="text/css" href="<%= url("/css/lib/photon.css")%>">
		<link rel="stylesheet" type="text/css" href="<%= url("/css/core/app.css")%>">
	</head>
	<body ng-controller="actividadesCtrl">
		<div class="window">
			<header class="toolbar toolbar-header">
      			<h1 class="title"><%= @title %></h1>
      			<div class="toolbar-actions ng-cloak">
					<button ng-click="onInfo()" class="btn btn-default">
						<span ng-class="generals.currentTemplate=='info.html'?'icon-menu':'icon-help'" class="icon icon-help"></span>
					</button>
					<button ng-hide="uiInsertOrRemove()" ng-click="onAddActividad()" class="btn btn-default">
						<span class="icon icon-plus-circled"></span>
						Nueva actividad
					</button>
					<button ng-show="generals.uiRemove" ng-click="onRemoveActividad()" ng-click="onAddActividad()" class="btn btn-default">
						<span class="icon icon-minus-circled"></span>
					</button>
					<button ng-show="generals.uiInsert" ng-click="onCancelCreacion()" class="btn btn-default">
						<span class="icon icon-cancel-circled"></span>
					</button>
					<button ng-show="generals.uiInsert" ng-click="onGuardar()" class="btn btn-default pull-right">
						<span class="icon icon-check"></span>
					</button>
					<form class="pull-right" ng-show="generals.uiInsert" ng-submit="onGuardar();">
						<div class="form-group">
							<input ng-blur="onLostFocus()" ng-model="generals.model.nombre" type="text" class="form-control" placeholder="Lavar ropa">
						</div>
					</form>
      			</div>
			</header>
			<div class="window-content">
				<div class="pane-group">
					<div class="pane-sm sidebar">
						<nav class="nav-group">
							<h5 class="nav-group-title">Actividades</h5>
							<a class="nav-group-item active">
								<span class="icon icon-home"></span>
								Casa
							</a>
							<span class="nav-group-item">
								<span class="icon icon-users"></span>
								Familia
							</span>
						</nav>
					</div>
					<div class="pane ng-cloak" ng-include="generals.currentTemplate"></div>
				</div>
			</div>
			<footer class="toolbar toolbar-footer">
				<h1 class="title">{{ actividades.length }} actividades.</h1>
			</footer>
		</div>
		<script type="text/ng-template" id="info.html">
			<div class="text-center p-t-lg">
				<h1>Photon - Todo</h1>
				<p>
					Este es un ejemplo del uso de <a href="http://photonkit.com/" target="_blank">Photon</a>, con angular y sinatra. <br>
					- <a href="http://www.rayrojas.info/" target="_blank">Ry</a>
				</p>
			</div>
		</script>
		<script type="text/ng-template" id="table.html">
			<table class="table-striped">
				<thead>
					<tr>
						<th>Actividad</th>
						<th>Creacion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="actividad.active?'active':''" ng-click="onSelectRow(actividad)" ng-repeat="actividad in actividades|orderBy:'-creacion'">
						<td>{{ actividad.nombre }}</td>
						<td>{{ actividad.creacion }}</td>
					</tr>
				</tbody>
			</table>			
		</script>
		<script src="<%= url('/js/lib/angular/angular.min.js') %>"></script>
		<script src="<%= url('/js/lib/underscore/underscore-min.js') %>"></script>
		<script src="<%= url('/js/core/index.js') %>"></script>		
	</body>
</html>