[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.toolbar-actions form {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: top;
}
.toolbar-actions .btn {
    vertical-align: top;
}
.toolbar-actions form .form-group {
    margin-bottom: 0px;
}
.toolbar-actions form .form-group .form-control {
    padding: 2px 10px;
}
tr.active, .table-striped tr.active:nth-child(2n) {
    background-color: #116cd6;
    color: #fff;
}
.p-t-lg {
    padding-top: 25px;
}